html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow : hidden;
}

#root {
  width: calc(412px * var(--scale));
  height: calc(917px* var(--scale));
  background: gray;
  box-sizing: border-box;
  padding: 0%;
  overflow: hidden;
  position: relative;
  --scale: 0.8;
}

#viewport {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-height: 917px) {
  #root {
    transform: scale(calc(100dvh / 917));
  }
}

